<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/metadata.ejs %>
    
    <title>登入</title>

    <%- include ../partials/scripts.ejs %>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet">
    <script src="/assets/vendor/js/ie-emulation-modes-warning.js"></script>
   
  </head>

  <body>
    <div class="container">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    
      </div>
      
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/vendor/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
