<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
  <h2 class="form-signin-heading">註冊</h2> 
        <div class="panel panel-default">
                            <div class="panel-heading">
                        <strong>   註冊「毛小孩走失協尋」系統 </strong>  
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                <a class="btn btn-block btn-social btn-lg btn-facebook" href="/auth/facebook">
                        <i class="fa fa-facebook"></i> 使用 Facebook 註冊
                      </a>
                           <div style="text-align:center">or</div>
                                     <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                                            <input type="text" class="form-control" placeholder="填入您的名稱" />
                                        </div>
                                         <div class="form-group input-group">
                                            <span class="input-group-addon">@</span>
                                            <input type="text" class="form-control" placeholder="請輸入電子信箱" />
                                        </div>
                                      <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            <input type="password" class="form-control" placeholder="請輸入密碼" />
                                        </div>
                                     <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            <input type="password" class="form-control" placeholder="再一次輸入密碼" />
                                        </div>
                                     
                                     <a href="#" class="btn btn-success ">立即註冊</a>
                                    <hr />
                                    已經有帳號 ?  <a href="/auth/login" >點這裡登入系統</a> <br />
                                    <a href="/" >回到 <%=appName %></a>
                                    </form>
                            </div>
                           
                        </div>
                    </div>
      
    </div> <!-- /container -->