<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/"><%=appName %></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
                <% if (user) { %>
                <li><a href="/animals/pickup">拾獲動物登錄</a></li>
                <li><a href="/auth/profile">基本資料維護</a></li>
                <% } %>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="page-scroll" href="/team">關於團隊</a></li>
                <li><a class="page-scroll" href="/animals">尋找我的毛小孩</a></li>
                <% if (!user) { %>
                    <li><a class="page-scroll" href="/auth/login">會員登入</a></li>
                    <li><a class="page-scroll" href="/auth/register">註冊</a></li>
                <% } else { %>
                    <li><a class="page-scroll" href="/auth/logout">登出</a></li>
                <% } %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>