<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">尋找毛小孩
            <small>幫助牠找到回家的路</small>
        </h2>
    </div>
</div>
<ol class="breadcrumb">
  <li><a href="/">首頁</a></li>
  <li><a href="/animals">尋找毛小孩</a></li>
</ol>
<div class="row">
    <% console.log('adfafasdfasdf', animals); %>
    <% animals.forEach(function(a){ %>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="/assets/vendor/img/portfolio/1.jpg" alt="">
            </a>
            <p>寵物性別：<%=a.GENDER %></p>
            <p>寵物品種：<%=a.VARIETY %></p>
            <p>描述：<%=a.DESCRIPTION %></p>
            <p>
                <a href="/animals/detail/<%=a.P_ID %>" class="btn btn-default">查看更多</a>
            </p>
        </div>
    <% }); %>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="/assets/vendor/img/portfolio/1.jpg" alt="">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        <p>
            <a href="/animals/detail" class="btn btn-default">查看更多</a>
        </p>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="/assets/vendor/img/portfolio/2.jpg" alt="">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        <p>
            <a href="/animals/detail" class="btn btn-default">查看更多</a>
        </p>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="/assets/vendor/img/portfolio/3.jpg" alt="">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        <p>
            <a href="/animals/detail" class="btn btn-default">查看更多</a>
        </p>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="/assets/vendor/img/portfolio/4.jpg" alt="">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        <p>
            <a href="/animals/detail" class="btn btn-default">查看更多</a>
        </p>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="/assets/vendor/img/portfolio/5.jpg" alt="">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        <p>
            <a href="/animals/detail" class="btn btn-default">查看更多</a>
        </p>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="/assets/vendor/img/portfolio/6.jpg" alt="">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        <p>
            <a href="/animals/detail" class="btn btn-default">查看更多</a>
        </p>
    </div>
</div>
<!-- /.row -->
