

<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><%=title %>
                    <small>這是毛小孩走失詳細資訊</small>
                </h2>
            </div>
        </div>
        <div class="row " style="padding-bottom:50px; ">
           <div class="col-md-5">
               <a href="/assets/vendor/img/portfolio/4.jpg" data-lightbox="image-1" data-title="這是一隻狗">
                <img src="/assets/vendor/img/portfolio/4.jpg"  class="img-responsive img-thumbnail" /></a>
               <!--  <a href="someurl" data-toggle="lightbox">
                    
                </a> -->
           </div>
           <div class="col-md-7">
             
               <div >
                <h4><strong> 寵物性別:</strong> 母</h4>  
                <h4><strong> 犬種:</strong> 馬爾濟斯</h4>  
                <h4><strong> 顏色:</strong> 黑色</h4>  
                <h4><strong> 晶片號碼: </strong>asdfasdfadfasdfaderyrh</h4>  
                <h4><strong> 領回狀態 :</strong>帶走了</h4>  
                <h4><strong> 拾獲時間 :</strong>2015-10-11 23:43</h4>  
                <h4><strong> 拾獲地點 :</strong>高雄市鹽埕區</h4>  
               </div>
           </div>
       </div>
        <div class="row">
            <div class="col-md-6">
             <h3>其他特徵:</h3>  
               <hr />
               <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                   Mauris ac nisl tempus, sollicitudin elit vel, pellentesque lorem. 
                   Maecenas hendrerit laoreet lectus a feugiat. Nunc sodales id ipsum ut maximus. 
                   Morbi pellentesque quis diam nec ullamcorper. Nulla facilisi. Donec non nunc augue. 
                   Integer tincidunt consequat porta.
               </p>

           </div>
           <div class="col-md-6" style="padding-bottom:80px;">
              <h3>描述 :</h3> 
               <hr />
               <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                   Mauris ac nisl tempus, sollicitudin elit vel, pellentesque lorem. 
                   Maecenas hendrerit laoreet lectus a feugiat. Nunc sodales id ipsum ut maximus. 
                   Morbi pellentesque </h5>  
           </div>
        </div>