<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ./partials/metadata.ejs %>

    <title><%=appName %></title>

    <%- include ./partials/scripts.ejs %>

</head>

<body id="page-top">

    <%- include ./partials/navbar.ejs %>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>幫助毛小孩找到回家的路</h1>
                <hr>
                <p>尋狗嗎？是你家的狗嗎？快來帶回家！「以領養代替購買，不要助長冷血的商業繁殖」，領養的動物其實更乖、更貼心，只要你願意付出愛心，牠們會回報更多更多的愛給你</p>
                <a href="/animals" class="btn btn-primary btn-xl page-scroll">尋找我的毛小孩</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">一起幫助走失的動物</h2>
                    <hr class="light">
                    <p class="text-faded">或許，你曾經看過巷口那隻沒有項圈、全身髒兮兮的狗在垃圾堆裡翻拾；或許，你曾經看過在攤販旁徘徊、遭到老闆凶巴巴驅趕的野貓，牠們現在有個共通的名字，叫作「流浪動物」</p>
                    <a href="#" class="btn btn-default btn-xl">撿到狗兒，我要發文</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">撿到阿狗阿貓，該怎麼辦</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>先餵飽牠</h3>
                        <p class="text-muted">看起來幾天沒吃飯了，先填飽牠的五臟廟吧</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>帶牠去掃晶片</h3>
                        <p class="text-muted">有晶片就可立馬回原飼主懷抱團圓，若沒有晶片則安置並公告12天</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>馬上貼文</h3>
                        <p class="text-muted">公告走失的毛小孩相關訊息讓大家知道，但是不歡迎買賣動物的貼文</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>機構協助</h3>
                        <p class="text-muted">您可以將動物帶到派出所或相關機構，協助狗兒讓更多機關構知道</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/vendor/img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    阿貓
                                </div>
                                <div class="project-name">
                                    這是黃色的貓
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/vendor/img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    阿狗
                                </div>
                                <div class="project-name">
                                    這是阿狗
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/vendor/img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    阿狗
                                </div>
                                <div class="project-name">
                                    這是阿狗
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/vendor/img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    阿狗
                                </div>
                                <div class="project-name">
                                    這是阿狗
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/vendor/img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    阿狗
                                </div>
                                <div class="project-name">
                                    這是阿狗
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/vendor/img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    阿狗
                                </div>
                                <div class="project-name">
                                    這是阿狗
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>領養代替購買．結紮代替撲殺</h2>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">與我們聯繫</h2>
                    <hr class="primary">
                    <p>幫助狗兒找到回家的路，牠會放在心上然後感謝您的幫助，若您還有不瞭解的地方，可以立刻拿起電話撥打或是寫信給我們知道，我們會幫助您在狗狗上安置的方式，快速尋求相關機關構的協助</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>07-5252-000</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@nsysu.edu.tw</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/assets/vendor/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/vendor/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/assets/vendor/js/jquery.easing.min.js"></script>
    <script src="/assets/vendor/js/jquery.fittext.js"></script>
    <script src="/assets/vendor/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/vendor/js/creative.js"></script>

</body>

</html>
