<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ./partials/metadata.ejs %>
    <%- include ./partials/scripts.ejs %>
    <!-- Custom CSS -->
    <link href="/stylesheets/round-about.css" rel="stylesheet">


</head>

<body id="page-top">

    <%- include ./partials/navbar.ejs %>

    <div class="container">
        <%-body %>
    </div>

    <!-- jQuery -->
    <script src="/assets/vendor/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/vendor/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/assets/vendor/js/jquery.easing.min.js"></script>
    <script src="/assets/vendor/js/jquery.fittext.js"></script>
    <script src="/assets/vendor/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/vendor/js/creative.js"></script>

</body>

</html>
