<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/metadata.ejs %>
    
    <title>登入</title>

    <%- include ../partials/scripts.ejs %>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet">
    <script src="/assets/vendor/js/ie-emulation-modes-warning.js"></script>
    <link href="/assets/vendor/css/font-awesome.min.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <%- body %>
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/vendor/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
