<!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2015 國立中山大學資訊管理所 資料庫課程專案 <%=appName %>.</strong> All rights reserved.
  </footer>