<header class="main-header">

  <!-- Logo -->
  <a href="/admin" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">管理者系統</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">管理者系統</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <a href="/">
            <span class="hidden-xs">登出</span>
          </a>
          <!-- Menu Toggle Button -->
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs">登出</span>
          </a>
          <ul class="dropdown-menu">
            <!-- Menu Footer-->
            <!-- <li class="user-footer"> -->
              <!-- <div class="pull-right"> -->
                <!-- <a href="#" class="btn btn-default btn-flat">Sign out</a> -->
              <!-- </div> -->
            <!-- </li> -->
          <!-- </ul> -->
        </li>
        <!-- Control Sidebar Toggle Button -->
        <!-- <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li> -->
      </ul>
    </div>
  </nav>
</header>