<header class="main-header">
  <a href="/admin" class="logo">
    <span class="logo-mini">管理者系統</span>  
    <span class="logo-lg">管理者系統</span>
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="/">
            <span class="hidden-xs">登出</span>
          </a>
          <!-- Menu Toggle Button -->
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs">登出</span>
          </a>
          <ul class="dropdown-menu">
            <!-- Menu Footer-->
            <!-- <li class="user-footer"> -->
              <!-- <div class="pull-right"> -->
                <!-- <a href="#" class="btn btn-default btn-flat">Sign out</a> -->
              <!-- </div> -->
            <!-- </li> -->
          <!-- </ul> -->
        </li>
      </ul>
    </div>
  </nav>
</header>