<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">管理</li>
      <li><a href="/admin/users"><i class="fa fa-link"></i> <span>會員列表</span></a></li>
      <li><a href="/admin/offices"><i class="fa fa-link"></i> <span>機關構列表</span></a></li>
      <!-- <li><a href="/admin/article"><i class="fa fa-link"></i> <span>文章管理</span></a></li> -->
      <!-- <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li> -->
    </ul>
  </section>
</aside>